<app-form-wrapper>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <app-form-field>
      <app-form-field-label>{{ 'task-form.title' | translate }}</app-form-field-label>
      <input type="text" [formControl]="form.controls.title">
    </app-form-field>

    <app-form-field>
      <app-form-field-label>{{ 'task-form.description' | translate }}</app-form-field-label>
      <textarea type="text" [formControl]="form.controls.description"> </textarea>
    </app-form-field>

    <app-form-field>
      <app-form-field-label>{{ 'task-form.user' | translate }}</app-form-field-label>
      <select type="text" [formControl]="form.controls.user">
        <option disabled selected> {{ 'task-form.user' | translate }}</option>
        @for (option of userSelectOptions$ | async; track option.value) {
          <option [value]="option.value">{{ option.text }}</option>
        } @empty {
          <option disabled> Users not found</option>
        }
      </select>
    </app-form-field>

    <app-form-field>
      <app-form-field-label>{{ 'task-form.column' | translate }}</app-form-field-label>
      <select id="column" type="text" [formControl]="form.controls.column">
        <option disabled selected> {{ 'task-form.column' | translate }}</option>
        @for (column of columnSelectOptions$ | async; track column.value) {
          <option [value]="column.value">{{ column.text }}</option>
        } @empty {
          <option disabled> Columns not found</option>
        }
      </select>
    </app-form-field>
    <app-button type="submit" [disabled]="!form.valid">{{ 'task-form.submit' | translate }}</app-button>
  </form>
</app-form-wrapper>
