@import '@styles/_mixins.scss';

:host {
  min-width: 320px;
  @include below($sm) {
    min-width: auto;
    width: 100%;
  }
  width: max-content;
  display: flex;
}

.board {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: var(--block-radius);
  border: 1px solid lightgray;
  padding: 16px;
  cursor: pointer;

  &__text {
    margin-bottom: 8px;
  }
}
