@import '../../../assets/styles/mixins';

:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 52px);
}

.board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow: hidden;

  &__title {
    @include title
  }

  &__controls {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    @include below($xl) {
      flex-direction: column;
    }
  }

  &__wrapper {
    display: flex;
    height: 100%;
    max-width: 100vw;
    overflow-x: auto;
    padding: 16px 0;
    transform: rotate(180deg);
    direction: rtl;

    &::-webkit-scrollbar {
      height: 16px;
    }

    &::-webkit-scrollbar-track {
      border: 1px solid lightgray;
      background: black; /* Цвет дорожки */
    }

    &::-webkit-scrollbar-thumb {
      background-color: lightgray;
      padding: 2px 0;
    }
  }

  &__columns {
    display: flex;
    height: 100%;
    gap: 16px;
    transform: rotate(-180deg);
    direction: ltr;
  }

  &__column {
    width: 320px;
  }
}

