:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow: hidden;

  &__title {

  }

  &__controls {
    display: flex;
    gap: 8px;
  }

  &__columns {
    display: flex;
    height: 100%;
    gap: 16px;
    max-width: 100vw;
    overflow-x: auto;
  }

  &__column {
    min-width: 300px;
  }
}

