<app-form-wrapper>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <app-form-field>
      <app-form-field-label>{{ 'login-form.login' | translate }}</app-form-field-label>
      <input type="text" [formControl]="form.controls.login">
    </app-form-field>
    <app-form-field>
      <app-form-field-label>{{ 'login-form.password' | translate }}</app-form-field-label>
      <input type="password" [formControl]="form.controls.password">
    </app-form-field>
    <app-button type="submit" [disabled]="!form.valid">{{ 'login-form.submit' | translate }}</app-button>
  </form>
</app-form-wrapper>
