:host {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
}

.header {
  display: flex;
  align-items: center;

  &__buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 10px;
  }

  &__button {
  }
}
