:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__auth {
    margin-left: auto;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin: auto 0;
    color: lightgray;
  }
}

.auth {
  display: flex;
  padding: 16px 0;
  gap: 8px;
}

