:host {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  &__close {
    display: flex;
    max-width: min-content;
    margin: 8px;
    margin-left: auto;
    cursor: pointer;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    border: 1px solid white;
    background: darkslateblue;
    //  TODO REMOVE HERE
    &::ng-deep {
      form {
        display: flex;
        flex-direction: column;
        padding: 16px;
      }
    }
  }
}
