:host {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: lightslategray;
}

.modal {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  &__close {

  }

  &__container {
    display: block;
    width: 50vw;
    height: 50vh;
    border: 1px solid white;

    //  TODO REMOVE HERE
    &::ng-deep {
      form {
        display: flex;
        flex-direction: column;
        padding: 16px;
      }
    }
  }
}
