<div class="column">
  <div class="column__title title" [class.show-controls]="isFocus">
    <div class="title__controls">
      <app-button class="title__control title__control_cancel">cancel</app-button>
      <app-button class="title__control title__control_submit" (click)="renameColumnTitle()">submit</app-button>
    </div>
    <input class="title__input" type="text" [formControl]="columnTitle" (focus)="changeFocusStatus(true)"
           (blur)="changeFocusStatus(false)">
  </div>
  @if (tasks$ | async; as tasks) {
    <div class="column__wrapper"
         cdkDropList
         [id]="column.id"
         [cdkDropListData]="tasks"
         (cdkDropListDropped)="drop($event)">
      @for (task of tasks; track task.id) {
        <app-task-preview [taskId]="task.id" cdkDrag [cdkDragData]="task"></app-task-preview>
      }
    </div>
  }
  <app-button class="column__delete-button" (click)="deleteColumn()"> delete column</app-button>
</div>
