:host {
  border: 1px solid lightgray;
  border-radius: var(--block-radius);
  padding: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__scroll-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding-bottom: 16px;
    margin-right: -8px;
  }

  &__wrapper {
    height: 100%;
    overflow: auto;
    padding-right: 8px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      border: 1px solid lightgray;
      background: black;
      border-radius: var(--element-radius);
    }

    &::-webkit-scrollbar-thumb {
      background-color: lightgray;
      padding: 2px 0;
    }
  }

  &__delete-button {
    margin-left: auto;
  }
}

.title {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  flex-direction: column;

  &__input {
    height: 32px;
    padding: 0 12px;
    border-radius: var(--element-radius);
    margin-bottom: 6px;
  }

  &__controls {
    display: flex;
  }

  &__control {
    width: 100%;
  }

  &__input {
    width: 100%;
  }

}
